*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
  font-weight: lighter;
  overflow-x: hidden
}
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
body {
  margin: 0;
  

}

.alert{
  padding: 1rem;
  position: absolute;
  top: 5px;
  background: #143f6b;
  border-radius: 6px;
  display: block;
  color: #68141e;
  transition-delay: 2s;
}

